 body {
    margin: 0;
    font-family: 'Great Vibes', cursive; /* Cursive plus légère */
    color: white;
    text-align: center;
    background-color: transparent;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#modal-img {
    max-width: 50vw;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* Ajustement de la taille des cases et du texte */
.grid div {
    background-color: rgba(0, 0, 0, 0.7);
    border: 4px solid #dabfff;
    border-radius: 20px;
    color: white;
    padding: 25px; /* Ajusté pour une meilleure taille */
    font-size: 1.4em; /* Taille de police modifiée */
    cursor: pointer;
    transition: transform 0.2s;
}

.grid div:hover {
    transform: scale(1.05);
}

#quote {
    white-space: pre-wrap;
    overflow-y: auto;
    max-height: 80vh;
    font-size: 1.4em; /* Taille de la police un peu plus petite */
    padding: 1.5em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.hidden {
    display: none;
}
