body {
    margin: 0;
    font-family: 'Great Vibes', cursive;
    color: white;
    text-align: center;
    background-color: transparent; /* Retirer le fond noir */
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('images/background.jpg'); /* Ton image de fond */
    background-size: cover;
    background-position: center;
    z-index: -1; /* L'image est en arrière-plan */
}

#modal-img {
    max-width: 50vw;
    height: auto;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

/* Ajuster la taille et la bordure des cases */
.grid div {
    background-color: rgba(0, 0, 0, 0.7); /* Légèrement transparent pour voir l'image de fond */
    border: 4px solid #dabfff; /* violet pastel */
    border-radius: 20px;
    color: white;
    padding: 30px; /* Augmenter la taille des cases */
    font-size: 1.5em; /* Augmenter la taille de la police dans les cases */
    cursor: pointer;
    transition: transform 0.2s;
}

.grid div:hover {
    transform: scale(1.05);
}

#quote {
    white-space: pre-wrap; /* Permet les retours à la ligne */
    overflow-y: auto; /* Scroll si le texte est trop long */
    max-height: 80vh; /* Limite la hauteur mais garde le scroll */
    font-size: 1.5em; /* Augmenter la taille du texte */
    padding: 2em; /* Ajouter du padding autour du texte */
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Plus de largeur pour les cases */
    gap: 20px; /* Augmenter l'écart entre les cases */
    padding: 20px;
}

.hidden {
    display: none;
}
